@import "tailwindcss";

@theme {
  --color-brand-red: #e11d48;
  --color-brand-orange: #f97316;
  --color-brand-slate: #0f172a;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background-color: #f8fafc;
  background-image: radial-gradient(#cbd5e1 0.5px, transparent 0.5px);
  background-size: 24px 24px;
  color: #0f172a;
  font-family: sans-serif;
  min-height: 100vh;
}